<nav id="sidebar">
  <div class="sidebar-header">
    <h3>Gravity Electrical</h3>
    <h6>User: {{ user }}</h6>
    <strong>GE</strong>
  </div>

  <ul class="list-unstyled components">
    <li class="active">
      <a href="{% url 'task_manager:index' %}">
        <i class="fas fa-home"></i>
        Home
      </a>
    </li>
    <li>
      <a href="{% url 'task_manager:project-list' %}">
        <i class="fas fa-briefcase"></i>
        Projects
      </a>
    <li>
      <a href="{% url 'task_manager:task-list' %}">
        <i class="fas fa-copy"></i>
        Tasks
      </a>
    </li>
    <li>
      <a href="{% url 'task_manager:employee-list' %}">
        <i class="fas fa-user-friends"></i>
        Employees
      </a>
    </li>
  </ul>
</nav>
