{% extends "base.html" %}

{% block content %}
  <div class="row">
    <div class="col-lg-4">
      <div class="card mb-4">
        <div class="card-body text-center">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
               class="rounded-circle img-fluid" style="width: 150px;">
          <h5 class="my-3">{{ employee.username }}</h5>
          <p class="text-muted mb-1">{{ employee.position }}</p>

          {% if user == employee %}
            <div class="d-flex justify-content-center mb-2">
              <button type="button" class="btn btn-outline-primary ms-1"><a
                  href="{% url 'task_manager:employee-update' pk=employee.pk %}">Update data</a></button>
            </div>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="card mb-4">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Name</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ employee.full_name }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Email</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ employee.email }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Phone number</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ employee.phone_number }}</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-sm-3">
              <p class="mb-0">Completed tasks</p>
            </div>
            <div class="col-sm-9">
              <p class="text-muted mb-0">{{ employee.number_of_completed_tasks }}</p>
            </div>
          </div>
          <hr>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
