{% extends "base.html" %}

{% block content %}

  <h1>Employees</h1>

  {% if employee_list %}
    <table class="table">
      <tr class="table-active">
        <th>Username</th>
        <th>Full name</th>
        <th>Email</th>
        <th>Position</th>
      </tr>

    {% for employee in employee_list %}
      <tr>
        <td>{{ employee.username }}</td>
        <td><a href="{{ employee.get_absolute_url }}">{{ employee.full_name }}</a></td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.position }}</td>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no employees available</p>
  {% endif %}

{% endblock %}