{% extends "base.html" %}
{% load static %}
{% block content %}
        <!-- Page Content  -->
    <!-- banner section start -->
<div class="choose_section layout_padding">
    <div class="container">
      <h1 class="choose_taital"><span>Welcome </span> <img src="{% static "images/lamp.png" %}"> <span style="color: #1f1f1f">to task manager</span></h1>
      <p class="choose_text">Learn from your mistakes, own up to them and move on!</p>
      <div class="choose_section_2 layout_padding">
        <div class="row">
          <div class="col-lg-3 col-sm-6">
            <div class="choose_box">
              <h1 class="client_taital">{{ num_projects }}+</h1>
              <h4 class="client_text">Projects</h4>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="choose_box">
              <h1 class="client_taital">{{ num_employees }}+</h1>
              <h4 class="client_text">Employees</h4>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="choose_box">
              <h1 class="client_taital" style="color: #FFA07A">{{ num_tasks }}+</h1>
              <h4 class="client_text">Incomplete tasks</h4>
            </div>
          </div>
          <div class="col-lg-3 col-sm-6">
            <div class="choose_box">
              <h1 class="client_taital" style="color: #3CB371">{{ completed_tasks }}+</h1>
              <h4 class="client_text">Completed tasks</h4>
            </div>
          </div>
        </div>
        <div class="image_3"><img src="{% static "images/workers.png" %}"></div>
        <div class="get_bt"><a href="#">Get A quote</a></div>
      </div>
    </div>
  </div>
    <!-- banner section end -->
{% endblock %}
