{% extends "base.html" %}

{% block content %}

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/boxicons/2.1.0/css/boxicons.min.css"
        integrity="sha512-pVCM5+SN2+qwj36KonHToF2p1oIvoU3bsqxphdOIWMYmgr4ZqD3t5DjKvvetKhXGc/ZG5REYTT6ltKfExEei/Q=="
        crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/5.3.45/css/materialdesignicons.css"
        integrity="sha256-NAxhqDvtY0l4xn+YVa6WjAcmd94NNfttjNsDmNatFVc=" crossorigin="anonymous"/>

  <div class="row align-items-center">
    <div class="col-md-5">
      <div class="mb-3">
        <h5 class="card-title">Tasks List <span class="text-muted fw-normal ms-2">({{ paginator.count }})</span>
        </h5>
      </div>
    </div>

    {% include 'includes/search_form.html' %}

    <div class="col-md-5">
      <div class="d-flex flex-wrap align-items-center justify-content-end gap-2 mb-3">
        <div>
          <a href="{% url 'task_manager:task-create' %}" data-bs-toggle="modal" data-bs-target=".add-new"
             class="btn btn-info"><i class="bx bx-plus me-1"></i> Add New</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">

      <table class="table project-list-table table-nowrap align-middle table-borderless">
        <thead>
        <tr>
          <th scope="col" class="ps-4" style="width: 50px;"> Creation date</th>
          <th scope="col">Project</th>
          <th scope="col">Type of work</th>
          <th scope="col">Urgency</th>
          <th scope="col">Price</th>
          <th scope="col">Status</th>
          <th scope="col" style="width: 200px;">Status</th>
          <th scope="col">Detail</th>
        </tr>
        </thead>

        <tbody>
        {% for task in task_list %}
            <tr>
              <th scope="row" class="ps-4">{{ task.creation_date | date:"d.m.Y H:i" }}</th>
              <td><a href="{% url 'task_manager:project-detail' pk=task.project.pk %}" class="text-body">{{ task.project }}</a></td>
              <td><span class="badge badge-secondary">{{ task.type_of_work }}</span></td>
              <td>{{ task.get_urgency_display }}</td>
              <td>{{ task.price }} $</td>
              <td>
                {% if task.is_completed == True %}
                  <strong class="alert alert-success">Done!</strong>
                {% else %}
                  <strong class="alert alert-danger">Not Done!</strong>
                {% endif %}
              </td>
              <td>
                <ul class="list-inline mb-2">
                  <li class="list-inline-item">
                    <a href="{% url 'task_manager:task-update' pk=task.id %}" data-bs-toggle="tooltip"
                       data-bs-placement="top" title="Edit" class="px-2 text-primary"><i
                        class="bx bx-pencil font-size-18"></i></a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Delete"
                       class="px-1 text-danger"><i class="bx bx-trash-alt font-size-18"></i></a>
                  </li>
                </ul>
              </td>
              <td>{% if task in user.tasks.all %}<a href="{% url 'task_manager:task-detail' pk=task.id %}"><button type="button" class="btn btn-info btn-block">For you</button></a>{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock content %}
