{% extends "base.html" %}

{% block content %}

  <h1>
    Tasks
      <a href="{% url 'task_manager:task-create' %}" class="btn btn-success active, text-right" role="button" aria-pressed="true">Create</a>
  </h1>

  {% if task_list %}
    <table class="table">
      <tr class="table-active">
        <th>ID</th>
        <th>Project</th>
        <th>Type of work</th>
        <th>Urgency</th>
        <th>Price</th>
      </tr>

    {% for task in task_list %}
      <tr>
        <th><a href="{% url "task_manager:task-detail" pk=task.pk%}">{{ task.pk }}</a></th>
        <th>{{ task.project }}</th>
        <th>{{ task.type_of_work }}</th>
        <th>{{ task.get_urgency_display}}</th>
        <th>{{ task.price}}</th>
      </tr>
    {% endfor %}
    </table>
  {% else %}
    <p>There are no tasks available</p>
  {% endif %}

{% endblock %}
