{% extends "base.html" %}

{% block content %}

  <div class="main-content">
  <!-- Table -->
    <div class="col">
      <div class="card shadow">
      <div class="card-header border-0">
        <h3 class="mb-0">Card tables</h3>
          <div class="text-right">
            <button type="button" class="btn btn-outline-info"><a class="text-right" href="{% url 'task_manager:task-create' %}">Add new task</a></button>
          </div>

      </div>

      <div class="table-responsive">
        <table class="table align-items-center table-flush">
          <thead class="thead-light">
            <tr>
              <th scope="col">Project</th>
              <th scope="col">Price</th>
              <th scope="col">Status</th>
              <th scope="col">Employees</th>
              <th scope="col">Completion</th>
              <th scope="col">ID</th>
            </tr>
          </thead>

        {% for task in task_list %}

        <tr>

          <th scope="row">
            <div class="media align-items-center">
              <div class="media-body">
                <span class="mb-0 text-sm">{{ task.project}}</span>
              </div>
            </div>
          </th>

          <td>
            ${{ task.price }} USD
          </td>

          <td>
            <i class="bg-warning"></i> {{ task.get_urgency_display }}
          </td>

          <td>
            <div class="avatar-group">
              {% if task in user.tasks.all %}
                {% for employeers in task.employees.all %}
              <a href="{% url 'task_manager:employee-detail' pk=employeers.id %}" class="avatar avatar-sm" data-toggle="tooltip" data-original-title="Ryan Tompson">
                <span class="mb-0 text-sm">
                    {{ employeers.full_name }},
                  {% endfor %}
                </span>
              </a>
              {% endif %}
            </div>
          </td>

          <td>
            <div class="d-flex align-items-center">
              <span class="mr-2">{{ task.is_completed }}</span>
              <div>
                <div class="progress">
                  <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                       aria-valuemax="100" style="width: 60%;"></div>
                </div>
              </div>
            </div>
          </td>

          <td>
            <a href="{% url 'task_manager:task-detail' pk=task.id%}"><button  type="button" class="btn btn-info">{{ task.id }}</button></a>
          </td>

        </tr>
        {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
